{{block jsFile}}
<!--[if (gte IE 9)|!(IE)]><!-->
<script src="{{=URL('static','js/jquery-3.2.1.min.js')}}"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="{{=URL('static','js/jquery-1.11.3.min.js')}}"></script>
<script src="{{=URL('static','js/modernizr-2.8.3.min.js')}}"></script>
<script src="{{=URL('static','assets/js/amazeui.ie8polyfill.min.js')}}"></script>
<![endif]-->
<script src="{{=URL('static','assets/js/amazeui.min.js')}}"></script>

<script src="{{=URL('static','assets/js/app.js')}}"></script>
{{end}}