{{block navbar}}

<!-- Navbar -->
<div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default "
     id="">
  <ul class="am-navbar-nav am-cf am-avg-sm-4">
    <li>
      <a href="{{=URL('index')}}">
        <span class="am-icon-home"></span>
        <span class="am-navbar-label">首页</span>
      </a>
    </li>
    <li>
      <a href="{{=URL('myassets')}}">
        <span class="am-icon-credit-card"></span>
        <span class="am-navbar-label">我的资产</span>
      </a>
    </li>
    <li>
      <a href="{{=URL('mind')}}">
        <span class="am-icon-cube"></span>
        <span class="am-navbar-label">中兴智投</span>
      </a>
    </li>
    <li>
      <a href="{{=URL('admin','login')}}">
        <span class="am-icon-delicious"></span>
        <span class="am-navbar-label">后台</span>
      </a>
    </li>
    <li>
      <a href="{{=URL('preview')}}">
        <span class="am-icon-laptop"></span>
        <span class="am-navbar-label">预览</span>
      </a>
    </li>
    <li  data-am-navbar-share>
      <a href="#">
        <span class="am-icon-location-arrow"></span>
        <span class="am-navbar-label">分享</span>
      </a>
    </li>
  </ul>
</div>
{{end}}