<!doctype html>
<html class="no-js">
<head>
    <title>ZTE 中兴金融科技</title>
    {{include 'base/style.html'}}
</head>
<body>
<!-- Header -->
<header data-am-widget="header" class="am-header am-header-default">
    <h1 class="am-header-title">
        <a href="#title-link"><strong>ZTE</strong> 中兴(沈阳)金融科技有限公司</a>
    </h1>
</header>
{{include 'base/menu.html'}}

<!-- Slider -->
<div data-am-widget="slider" class="am-slider am-slider-a1" data-am-slider='{"directionNav":false}'>
    <ul class="am-slides">
        <li>
            <img src="{{=URL('static','module/zteimages/2-getty-532029221.jpg')}}">
        </li>
        <li>
            <img src="{{=URL('static','module/zteimages/5G_banner.jpg')}}">
        </li>
        <li>
            <img src="{{=URL('static','module/zteimages/Pre5g_banner.jpg')}}">
        </li>
        <li>
            <img src="{{=URL('static','module/zteimages/SDNFV_bigBanner-1-CN.jpg')}}">
        </li>
    </ul>
</div>

<!-- List -->
<div data-am-widget="list_news" class="am-list-news am-list-news-default">
    <!--列表标题-->
    <div class="am-list-news-hd am-cf">
        <!--带更多链接-->
        <a href="###">
            <h2>新闻资讯</h2>
            <span class="am-list-news-more am-fr">更多 &raquo;</span>
        </a>
    </div>
    <div class="am-list-news-bd">
        <ul class="am-list">
            <!--缩略图在标题左边-->
            <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left">
                <div class="am-u-sm-4 am-list-thumb">
                    <a href="###">
                        <img src="{{=URL('static','module/zteimages/img_Telenet5GIoT.jpg')}}"
                             alt="中兴通讯与比利时Telenet签署5G及IoT战略伙伴协议"
                        />
                    </a>
                </div>
                <div class="am-u-sm-8 am-list-main">
                    <h3 class="am-list-item-hd">
                        <a href="###">中兴通讯与比利时Telenet签署5G及IoT战略伙伴协议</a>
                    </h3>
                    <div class="am-list-item-text">6月2日，在国务院总理李克强、比利时首相夏尔·米歇尔的主持见证下，中兴通讯与Telenet在布鲁塞尔举行盛大签约仪式，Telenet
                        技术总裁Micha Berger和中兴通讯高级副总裁肖明代表双方签署5G移动通信和互联网战略合作伙伴关系协议，将进一步深化双方在新一代通信技术上的合作。
                    </div>
                </div>
            </li>
            <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left">
                <div class="am-u-sm-4 am-list-thumb">
                    <a href="###">
                        <img src="{{=URL('static','module/zteimages/2017Beijing.jpg')}}" alt="2017年中国国际信息通信展览会"/>
                    </a>
                </div>
                <div class="am-u-sm-8 am-list-main">
                    <h3 class="am-list-item-hd">
                        <a href="###">2017年中国国际信息通信展览会</a>
                    </h3>
                    <div class="am-list-item-text">中兴通讯即将亮相第二十六届中国国际信息通信展览会，携5G端到端产品及创新应用与您相约北京，共同迎接万物互联时代。</div>
                </div>
            </li>
            <li class="am-g am-list-item-desced">
                <div class="am-list-main">
                    <h3 class="am-list-item-hd">
                        <a href="###">《中兴通讯技术（简讯）》 第8期 </a>
                    </h3>
                    <div class="am-list-item-text">
                        作为网络云化的积极探索者和引领者，中兴通讯与全球运营商展开广泛合作，拥抱全面开放、云化的ICT新时代，协助运营商重构核心竞争力、获取商业成功，实现从管道服务向信息服务的转型。在这里，我们将与您共同分享关于网络云化的深入思考和业界实践。
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>


<!-- Gallery -->
<ul data-am-widget="gallery" class="am-gallery am-avg-sm-2
  am-avg-md-3 am-avg-lg-4 am-gallery-default" data-am-gallery="{ pureview: true }">
    <li>
        <div class="am-gallery-item">
            <a href="{{=URL('static','module/zteimages/5G_banner.jpg')}}"
               class="">
                <img src="{{=URL('static','module/zteimages/5G_banner.jpg')}}"
                     alt="5G产业高峰论坛"/>
                <h3 class="am-gallery-title">5G产业高峰论坛</h3>
                <div class="am-gallery-desc">2375-09-26</div>
            </a>
        </div>
    </li>
    <li>
        <div class="am-gallery-item">
            <a href="{{=URL('static','module/zteimages/Pre5g_banner.jpg')}}"
               class="">
                <img src="{{=URL('static','module/zteimages/Pre5g_banner.jpg')}}"
                     alt="Pre5G目标与核心"/>
                <h3 class="am-gallery-title">Pre5G目标与核心</h3>
                <div class="am-gallery-desc">2375-09-26</div>
            </a>
        </div>
    </li>
    <li>
        <div class="am-gallery-item">
            <a href="{{=URL('static','module/zteimages/SDNFV_bigBanner-1-CN.jpg')}}"
               class="">
                <img src="{{=URL('static','module/zteimages/SDNFV_bigBanner-1-CN.jpg')}}"
                     alt="中兴通讯基于IMS的RCS方案获IMS世界论坛大奖"/>
                <h3 class="am-gallery-title">中兴通讯基于IMS的RCS方案获IMS世界论坛大奖</h3>
                <div class="am-gallery-desc">2375-09-26</div>
            </a>
        </div>
    </li>
    <li>
        <div class="am-gallery-item">
            <a href="{{=URL('static','module/zteimages/2-getty-532029221.jpg')}}"
               class="">
                <img src="{{=URL('static','module/zteimages/2-getty-532029221.jpg')}}"
                     alt="解决方案把握万物互联时代的脉搏"/>
                <h3 class="am-gallery-title">解决方案把握万物互联时代的脉搏</h3>
                <div class="am-gallery-desc">2375-09-26</div>
            </a>
        </div>
    </li>
</ul>

<!-- List -->
<div data-am-widget="list_news" class="am-list-news am-list-news-default">
    <!--列表标题-->
    <div class="am-list-news-hd am-cf">
        <!--带更多链接-->
        <a href="###">
            <h2>新闻动态</h2>
        </a>
    </div>
    <div class="am-list-news-bd">
        <ul class="am-list">
            <li class="am-g">
                <a href="###" class="am-list-item-hd">上海到北京复兴号提速为四个半小时 中兴通讯操作系统再获运营检验 </a>
            </li>
            <li class="am-g">
                <a href="###" class="am-list-item-hd">中兴通讯提出网络管理智能化AI应用理论与实践</a>
            </li>
            <li class="am-g">
                <a href="###" class="am-list-item-hd">中兴通讯首发10G PON BOB家庭终端 助力千兆到户商用进程</a>
            </li>
            <li class="am-g">
                <a href="###" class="am-list-item-hd">中兴通讯和卢森堡POST Luxembourg签署战略合作协议</a>
            </li>
            <li class="am-g">
                <a href="###" class="am-list-item-hd">做5G变革领跑者 </a>
            </li>
        </ul>
    </div>
    <!--更多在底部-->
    <div class="am-list-news-ft">
        <a class="am-list-news-more am-btn am-btn-default" href="#myassets">查看更多 &raquo;</a>
    </div>
</div>


{{include 'base/navbar.html'}}

{{include 'base/jsFile.html'}}
</body>
</html>